html, body {
    margin: 0;
}
#wrapper {
  display: flex;
  flex-direction: column;

}
#head {
    background-color: #eee;
    box-sizing: border-box;
    border: dotted black 1.2px;
    width: 200px;
    align-self: center;
}
p {
    color: pink; 
}
